<<<<<<< HEAD
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    
  }
=======
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media screen and (min-width:320px) {
  body {
    background-image: url(../kamil-kalbarczyk-19Ft3QfakMo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;

  }

  .logo {
    text-transform: capitalize;
    font-size: 55px;
    letter-spacing: 3px;
    cursor: pointer;
    padding-left: 24%;
    color: white;
    padding-top: 20px;
  }

  /* The Main Search bar */
  .mainSearchBar {
    margin: 2rem;
    padding: 10rem 2rem 2rem 35rem;
    border: 6px solid #5A3E28 ;
    background-color:#A29996 ;
    
  }
  .foodSearchbar{ß
    margin: center;
    padding: 5px;
  }
  .drinkSearchBar{
    margin-right: 10px;
    padding: 5px

  }
  .searchBtn{
margin-top: 3px;
margin-left: 2.5rem;

  }
}
>>>>>>> 697eddff8ed8a269b981039c6b8b94730d8b1f13
